<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BossyProxy</title>
</head>
<body>
    <input type="text" id="url" placeholder="Enter URL">
    <button onclick="send()" type="submit">Submit</button>

    <div id="box"></div>

    <script>
        async function send() {
            const url = document.getElementById("url").value;

            const res = await fetch("/browse?url=" + encodeURIComponent(url), {
                method: "GET"
            });

            const text = await res.text();
            document.getElementById("box").innerHTML = text;
        }
    </script>
</body>
</html>
